* {
	margin: 0;
	padding: 0;
}

body {
	background: #E34010;
    font-family: "Arial", sans-serif;
	font-size: 30px;
	max-width: 100%;
	margin: auto;
	color: white;
}

header {
	max-width: 100%;
	text-align: center;
}

header img {
	max-width: 50%;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 100px;
}

main {
	max-width: 100%;
	margin: auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 370px;
	background-image: url("avatar1.png");
    background-repeat: no-repeat;
    background-position: left 100px;
    background-size: cover;
    background-size: 20%;
}


h3 {
	padding: 20px 60px;
} 

h5 {
	font-style: italic;
	font-weight: normal;

}

.container {
	font-family: 'Time News';
	font-weight: bold;
	max-width: 60%;
	border-radius: 35px;
	background: black;
	margin: auto;
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 1px solid orange;
}

form {
	font-size: 40px;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form img {
	width: 40px;
	height: auto;
}

form label {
	padding-top: 20px;
}

form input {
	border-radius: 6px;
    height: 30px;
    font-size: 30px;
    outline: none;
    text-align: center;
    height: 50px;
}

input[type="tel"] {
  pattern: "[0-9]";
  inputmode: numeric;
  mask-pattern: "(11) 9 9999-9999";
  mask-repeat: 1;
}

.btn input {
	margin: auto;
	padding: 20px 30px;
	color: white;
	background: forestgreen;
	text-transform: uppercase;
	font-size: 25px;
	border-radius: 15px;
}

.btn input:hover { 
	background: #28a745;
}

footer {
	font-family: 'Time News';
	font-size: 30px;
}

#detalhesCompra {
	margin-left: 100px;
}

#detalhesCompra ul {
	list-style: none;
	list-style-type: decimal;
}