body {
  padding: 0;
  margin: 0;
  font-family: Georgia;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  margin: auto;
  background-color: #F5F5F5;
}

img {
  max-width: 100%;
}

#top {
  max-width: 100%;
  margin: auto;
}


@media screen and (max-width: 600px) {
 #text {
    font-size: 16px;
  }
}
#text {
	
	max-width: 80%;
	margin: auto;

}

.lista {
	
	text-decoration: none;
	text-align: left;
}

.lista a {
	color: black;
}

h1 {
   border-bottom: 2px solid;
   border-top: 2px solid;

}

h2 {  
  max-width: 30%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;     
}


