body{
  padding: 0;
  margin: 0;
  background-color: F5F5F5;
  font-family: Georgia;
  font-size: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

header {
   background-color: #E34010;

}
#links1 {  
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
}

#qs {
  padding-bottom: 0px;
  margin-bottom: auto;
  max-width: 100%;
  min-width: 100%;
  margin: auto;
}

main {
  margin-top: -100px;
  background-color: #F5F5F5;  
}

#textos {
  max-width: 80%;
  height: auto;
  margin: auto;
  padding-bottom: 40px;
}

h1 {
   border-bottom: 2px solid;
   padding: 20px;
}

.lista {
  text-decoration: none;
  text-align: left;
}  

#linha{
  margin-bottom: 50px;
}

h2 {  
  max-width: 35%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;     
}

footer {
 background-color: #E34010; 
}

#footer-content {
  display: flex;
} 

#links2 li {
  margin-bottom: 20px; 
}

#links2 {
  list-style: none; 
  text-align: left;
}

#rodape {
  margin: auto;
}