* {
	margin: 0;
	padding: 0;
}

body {
	background: #F9F9F9;
    font-family: "Arial", sans-serif;
	font-size: 30px;
	max-width: 100%;
	margin: auto;
	color: white;
}

header {
	background: #E34010;
	color: black;
	padding-bottom: 20px;
	
	
}

header img {
	max-width: 100%;
	padding-top: 20px;
}

main {
	padding-top: 150px;
	max-width: 100%;
	margin: auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 370px;
	
}

h1 {
	text-align: center;
	padding-top: 30px;
}

h3 {
	padding: 30px 60px;
	text-align: center;
} 

h5 {
	text-align: center;
	font-style: italic;
	font-weight: normal;

}

.container {
	text-align: left;
	color: black;
	font-family: 'Time News';
	font-weight: bold;
	max-width: 80%;
	border-radius: 35px;
	background: white;
	margin: auto;
	padding-bottom: 20px;
	border: 1px solid black;
}

form {
	border-radius: 20px;
	padding: 30px 40px;
	font-size: 40px;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form img {
	width: 40px;
	height: auto;
}

form label {
	padding-top: 20px;
}

form input {
	border: 1px solid;
	border-radius: 6px;
    height: 70px;
    font-size: 40px;
    outline: none;
    text-align: center;
    
}

input[type="tel"] {
  pattern: "[0-9]";
  inputmode: numeric;
  mask-pattern: "(11) 9 9999-9999";
  mask-repeat: 1;
}

.btn {
	text-align: right;
	margin-right: 40px;

}

.btn input {
	border: 1px solid #008000;
	padding: 20px 30px;
	color: black;
	background: #90EE90;
	text-transform: uppercase;
	font-size: 25px;
	border-radius: 15px;

}

.btn input:hover { 
	background: #28a745;
}

.btn2 {
	max-width: 80%;
	text-align: right;

}

.btn2 input {
	padding: 20px 30px;
	color: white;
	background: darkred;
	text-transform: uppercase;
	font-size: 25px;
	border-radius: 15px;
}

.btn2 input:hover { 
	background: palevioletred;
}

footer {
	background: #E34010;
	font-family: 'Time News';
	font-size: 30px;
	padding-bottom: 100px;
}

#detalhesCompra {
	margin-left: 70px;
}

#detalhesCompra ul {
	list-style: none;
	list-style-type: decimal;
}