body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e34010;
}

.container {
  text-align: center;
  color: #fff;
  width: 80%;
  margin: auto;
  max-width: 100%;
}

header {
  border-bottom: 2px solid black;
  padding: 80px 0 30px;
  margin: auto;
}

h1 {
  font-size: 45px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  max-width: 60%;
  margin: auto;
}

.logo,
.logo img {
  max-width: 100%;
  margin: auto;
}

#search-container {
  display: flex;
  align-items: center;
  max-width: 50%;
  margin: auto;
}

.search-bar {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  height: 40px;
  font-size: 25px;
  outline: none;
}

#search-container img {
  cursor: pointer;
}

.links {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.links img {
  max-width: 100%;
  margin: auto;
  padding: 30px;
}

.links .lks {
  list-style-type: none;
  margin-bottom: 80px;
}

.img-hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.img-hover:hover {
  opacity: 0.5;
}

footer {
  text-align: center;
  padding-top: 60px;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
}

.canais {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canais .rs {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.canais .rs li {
  display: inline-block;
  padding: 20px;
}

.tel a {
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}

.qs {
  padding-top: 30px;
}

.qs a {
  text-decoration: none !important;
  padding-top: 20px;
}

h4 {
  border-top: 2px solid black;
  width: 80%;
  margin: auto;
  font-size: 35px;
  font-family: Georgia, serif;
  color: black;
}

h5 {
  font-size: 20px;
  font-family: Georgia;
  color: black;
}
