
a{
text-decoration: none;
color: inherit;
}


.homepage
{
    background-color: #E3411D;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.bt-CAF{
padding-right: 25px;
}
.bt-jumbo{
padding-left: 25px;
}
.bt-docs{
padding-right: 25px;
}
.bt-shop{
padding-left: 25px;
}

footer {
	text-align: center;
}

.homepage2
{
    background-color: #000;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.rs{
    list-style: none;
    padding-left: 50px;

   
}

.rs li{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}
